<%- include ('./partials/head.ejs'); %>
	<header>
		<h1>Hello Talk - Erro!</h1>
		<h4>Ops! Algo deu errado :(</h4>
	</header>
	<p>
		Veja os detalhes do erro:
		<br>
		<%- error.message %>
	</p>
	<hr>
	<p>Voltar a <a href="/">home page?</a> :)</p>
<%- include ('./partials/footer.ejs'); %>