<%- include ('../partials/head.ejs'); %>
	<body>
		<header>
			<h1>Hello Talk</h1>
			<h4>Bem-vindo!</h4>
		</header>
		<section>
		<% if (user == undefined) { %> 
			<form action="/login" method="post">
		<% } else { %>
			<form action="/logout" method="get">
		<% } %>
		<% if (user == undefined) { %><input type="text" name="user[name]" placeholder="Nome">
				<br />
				<input type="email" name="user[email]" placeholder="E-mail">
				<br />
				<button type="submit" class="btn btn-success">Entrar</button> 
				<% } else { %><% } %>
			</form> 
			<% if (user == undefined) { %><!-- Se usuário logado -->
			<% } else { %>
				<p><a class="btn btn-success" href="/contacts">Visualizar lista de contatos</a></p>
			<% } %>
		</section>
		<%- include ('../partials/exit.ejs'); %>
	</body>
<%- include ('../partials/footer.ejs'); %>